* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  width: fit-content;
  padding: 16px 24px 16px 32px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -32px;
  font-size: 1.25rem;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}

strong {
  font-weight: bold;
  color: hsl(160deg, 100%, 30%);
}

header {
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  font-size: 1.25rem;
}

main {
  background-color: hsl(0deg, 0%, 60%);
}

.max-width-wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 64px;
  padding-bottom: 64px;
}

.intro-chunk,
.card {
  padding: 8px 24px;
}

.intro-chunk p {
  max-width: 300px;
}

.card {
  background-color: white;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}
